<header>
  <h1>Announcements</h1>
  <% admins_only do %>
    <ul class="actions">
      <li>
        <%= link_to "New Announcement", new_admin_announcement_path, class: "new" %>
      </li>
    </ul>
  <% end %>
</header>

<div id="announcements">
  <% @announcements.each do |announcement| %>
    <h2><%= link_to announcement.title, announcement %></h2>
    <p><%= announcement.description %></p>
  <% end %>
</div>
