<header>
  <h1>
    <%= @announcement.title %>
  </h1>

  <ul class="actions">
    <li>
      <%= link_to "Edit Announcement", edit_announcement_path(@announcement), class: "edit" %>
    </li>
    <li>
      <%= link_to "Delete Announcement", announcement_path(@announcement), method: :delete, class: "delete" %>
    </li>
  </ul>
</header>