<header>
  <h1>Offices</h1>
  <% admins_only do %>
    <ul class="actions">
      <li>
        <%= link_to "New Office", new_admin_office_path, class: "new" %>
      </li>
    </ul>
  <% end %>
</header>

<div id="offices">
  <% @offices.each do |office| %>
    <h2><%= link_to office.name, office %></h2>
    <p><%= office.description %></p>
  <% end %>
</div>