<header>
  <h1>People</h1> 
  <% admins_only do %>
    <ul class="actions">
      <li>
        <%= link_to "New Person", new_admin_person_path, class: "new" %>
      </li>
    </ul>
  <% end %>
</header>

<div id="people">
  <% @people.each do |person| %>
    <h2><%= link_to "#{person.first_name} #{person.last_name}", person %></h2>
    <p><%= person.bio %></p>
  <% end %>
</div>